.box {
    height: 200px;
    width: 200px;
    background-color: var(--qwik-dark-blue);
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
